<div class="drop-zone-content"
     [class.file-selected]="isFileSelected()"
     [class.drag-over]="isDragging"
     (dragover)="onDragOver($event)"
     (dragleave)="onDragLeave($event)"
     (drop)="onDrop($event)">

  <!-- Show "Clear" button if a file is selected -->
  @if (isFileSelected()) {
    <i class="fa-solid fa-circle-xmark clear-icon"
       (click)="onClearFile($event)"
       title="Clear file"></i>
  }

  <!-- Main content area that opens the file dialog on click -->
  <div class="clickable-area" (click)="onZoneClicked()">
    <i class="icon" [class]="icon()"></i>
    <span class="label" [class.selected-label]="isFileSelected()">
      {{ displayLabel() }}
      @if (!isFileSelected()) {
        <br>
        <b>(or click to browse)</b>
        <br>
        <br>
        <b class="mr-1">Supported formats:</b> <span class="file-formats">{{ accept().join(', ') }}</span>
      }
    </span>
  </div>
</div>
