<footer style="margin-top: 0;">
  <div class="container footer-inner">
    <div class="col-left">
      <p>
        &copy; <span id="copyright-year">2025</span> <b><span class="highlight">Y'ALL</span> <span class="highlight">M</span>edia <span
        class="highlight">P</span>layer</b>.
      </p>
    </div>
    <div class="col-right">
      <span class="footer-break">
          {{{footer_text}}} <a class="highlight" href="https://kgurniak91.github.io" target="_blank"><b>Krzysztof Gurniak</b></a>.
        </span>
    </div>
  </div>
</footer>
