<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{{meta.title}}}</title>
  <meta name="title" content="{{{meta.title}}}">
  <meta name="description" content="{{{meta.description}}}">
  <meta name="keywords" content="{{{meta.keywords}}}">
  <meta name="author" content="Krzysztof Gurniak">

  <meta property="og:title" content="{{{meta.title}}}">
  <meta property="og:description" content="{{{meta.description}}}">
  <meta property="og:type" content="{{{meta.og_type}}}">
  <meta property="og:url" content="{{{meta.og_url}}}">
  <meta property="og:image" content="{{{meta.og_image}}}">

  <link rel="canonical" href="{{{meta.canonical}}}">
  <link rel="stylesheet" href="{{{rootPath}}}styles.css">
  <link rel="icon" type="image/x-icon" href="{{{rootPath}}}favicon.ico">
</head>
