<div class="project-card" (click)="selectProject.emit()">
  <div class="project-header">
    <div class="project-title">
      <div>
        <i class="fa-solid fa-file-video"></i>
        <span>{{ project().mediaFileName }}</span>
      </div>
      <div>
        <i class="fa-solid fa-file-lines"></i>
        <span>{{ project().subtitleFileName }}</span>
      </div>
    </div>

    <div class="project-actions">
      <p-button icon="fa-solid fa-pencil"
                severity="secondary"
                (onClick)="$event.stopPropagation(); editProject.emit();"
                pTooltip="Edit project"
                tooltipPosition="top"></p-button>
      <p-button icon="fa-solid fa-trash"
                severity="secondary"
                (onClick)="$event.stopPropagation(); removeProject.emit();"
                pTooltip="Delete project"
                tooltipPosition="top"></p-button>
    </div>
  </div>

  <div class="project-meta">
    <div>
      <i class="fa-solid fa-calendar"></i>
      <span><b>Created:</b> {{ createdDate() | date }}</span>
    </div>
    <div>
      <i class="fa-solid fa-clock"></i>
      <span><b>Last Opened:</b> {{ lastOpenedDate() | date }}</span>
    </div>
  </div>

  <div class="project-progress">
    <p-progress-bar [value]="completionPercentage()" [showValue]="false"/>
    <span class="custom-progress-label">{{ completionPercentage() | number:'1.2-2' }}%</span>
  </div>
</div>
