.header-wrapper {
  display: flex;
  align-items: center;
  max-width: 100vw;
}

.menu-button-wrapper {
  padding: 0.5rem;
  border-right: 1px solid #444;
}

.filename {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-right: 1px solid #444;
  color: var(--app-text-secondary);
  text-overflow: ellipsis;
  overflow: hidden;
  width: fit-content;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
