:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999999;
}

.highlight-rect {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid rgba(255, 0, 0, 0.7);
  border-radius: 0;
  box-sizing: border-box;
}
