<div class="settings-container">
  <p-fieldset legend="AnkiConnect Status" [toggleable]="false">
    <div class="flex align-items-center gap-2">
      <label>
        @switch (ankiStateService.status()) {
          @case ('connected') {
            Connected
          }
          @case ('disconnected') {
            Failed to connect. Is Anki open?
          }
          @case ('checking') {
            Checking...
          }
          @case ('error') {
            An unexpected error occurred.
          }
        }
      </label>
      <p-button label="Refresh"
                icon="fa-solid fa-rotate"
                severity="primary"
                [loading]="ankiStateService.status() === 'checking'"
                (onClick)="ankiStateService.checkAnkiConnection()"/>
    </div>
  </p-fieldset>

  <p-fieldset legend="Card templates" [toggleable]="false">
    @if (ankiStateService.status() === 'connected') {
      <div class="mb-3">
        <p-button label="Add New Template"
                  severity="primary"
                  icon="fa-solid fa-plus"
                  (onClick)="onAddNewTemplate()"/>
      </div>

      <p-accordion [multiple]="false"
                   [value]="accordionActiveIndex()"
                   (onOpen)="onTabOpen($event)"
                   (onClose)="onTabClose()">
        @for (template of ankiStateService.ankiCardTemplates(); track template.id) {
          <p-accordion-panel [value]="$index">
            <p-accordion-header>
              <div class="flex align-items-center gap-2 pr-2">
                <b>{{ template.name || 'New Card Template' }}</b>
                <p-badge [value]="template.isValid ? 'Valid' : 'Incomplete'"
                         [severity]="template.isValid ? 'success' : 'warn'">
                </p-badge>
              </div>
            </p-accordion-header>
            <p-accordion-content>
              <app-anki-card-template-form [template]="template"
                                           [decks]="ankiStateService.deckNames()"
                                           [noteTypes]="ankiStateService.noteTypes()"
                                           [fields]="fieldsForSelectedNoteType()"
                                           (update)="ankiStateService.updateAnkiCardTemplate(template.id, $event)"
                                           (delete)="onDeleteTemplate(template.id)"/>
            </p-accordion-content>
          </p-accordion-panel>
        } @empty {
          <p class="text-center">
            No card templates configured.
            <br>
            Click "Add New Template" to get started.
          </p>
        }
      </p-accordion>
    } @else {
      <p class="text-center">
        Connect to Anki in order to configure card templates.
      </p>
    }
  </p-fieldset>
</div>
