<div class="settings-container">
  <p-fieldset legend="AnkiConnect Status" [toggleable]="false">
    <div class="flex align-items-center gap-2">
      <label>
        @switch (ankiStateService.status()) {
          @case (AnkiConnectStatus.connected) {
            Connected
          }
          @case (AnkiConnectStatus.disconnected) {
            Failed to connect. Is Anki open?
          }
          @case (AnkiConnectStatus.checking) {
            Checking...
          }
          @case (AnkiConnectStatus.error) {
            An unexpected error occurred.
          }
        }
      </label>
      <p-button label="Refresh"
                icon="fa-solid fa-rotate"
                severity="primary"
                [loading]="ankiStateService.status() === AnkiConnectStatus.checking"
                (onClick)="ankiStateService.checkAnkiConnection()"/>
    </div>
  </p-fieldset>

  <p-fieldset legend="Global Anki Tags" [toggleable]="false">
    <div class="setting-item-column">
      <app-tags-input [ngModel]="ankiStateService.ankiGlobalTags()"
                      (ngModelChange)="ankiStateService.setAnkiGlobalTags($event)"/>
      <small class="block mt-2">
        These tags will be suggested for every Anki card created by this application.
      </small>
    </div>
  </p-fieldset>

  <p-fieldset legend="Default Export Options" [toggleable]="false">
    <div class="setting-item">
      <div class="flex align-items-center">
        <p-checkbox [ngModel]="globalSettingsStateService.ankiSuspendNewCardsByDefault()"
                    (ngModelChange)="onSuspendByDefaultChange($event)"
                    [binary]="true"
                    inputId="suspend-by-default"/>
        <label for="suspend-by-default" class="ml-2">Suspend new cards by default</label>
      </div>
    </div>
    <small class="block mt-2">
      Sets the initial state of the "Create card as suspended" checkbox for new projects.
      <br>
      You can always change it later in the "Export to Anki" dialog window.
    </small>
  </p-fieldset>

  <p-fieldset legend="Card templates" [toggleable]="false">
    @if (ankiStateService.status() === AnkiConnectStatus.connected) {
      <div class="mb-3 flex justify-content-end">
        <p-button label="Add New Template"
                  severity="primary"
                  icon="fa-solid fa-plus"
                  (onClick)="onAddNewTemplate()"/>
      </div>

      <p-table [value]="ankiStateService.ankiCardTemplates()" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Anki Deck</th>
            <th>Anki Note Type</th>
            <th style="width: 8rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-template>
          <tr>
            <td>{{ template.name }}</td>
            <td>{{ template.ankiDeck }}</td>
            <td>{{ template.ankiNoteType }}</td>
            <td>
              <div class="flex gap-2 justify-content-end">
                <p-button icon="fa-solid fa-pencil"
                          severity="secondary"
                          (onClick)="onEditTemplate(template)"
                          pTooltip="Edit"
                          tooltipPosition="bottom"/>
                <p-button icon="fa-solid fa-trash"
                          severity="danger"
                          (onClick)="onDeleteTemplate(template.id)"
                          pTooltip="Delete"
                          tooltipPosition="bottom"/>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">
              <p class="text-center py-4">
                No card templates configured.
                <br>
                Click "Add New Template" to get started.
              </p>
            </td>
          </tr>
        </ng-template>
      </p-table>
    } @else {
      <p class="text-center">
        Connect to Anki in order to configure card templates.
      </p>
    }
  </p-fieldset>
</div>
