:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}


.video-area {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
  box-sizing: border-box;
  position: relative;

  app-video-controller {
    width: 100%;
    height: 100%;
  }
}

.timeline-area {
  flex-shrink: 0; // Prevents the timeline from shrinking
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a2a2a;
  flex-shrink: 0;
  border: 1px solid black;

  .toolbar-actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toolbar-actions-wrapper.with-tracks-dropdown {
    border-right: 1px solid black !important;
  }

  .toolbar-actions-wrapper:last-of-type {
    border-left: 1px solid black !important;

    p-button:first-of-type {
      border-left: 1px solid black !important; // first button of 2nd toolbar-actions-wrapper
    }
  }

  p-button ::ng-deep button {
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0;
    background-color: var(--app-surface) !important;
    border: none !important;

    &:hover {
      background-color: var(--app-surface-hover) !important;
    }

    .p-button-icon {
      color: var(--app-text-secondary);
    }
  }

  p-button {
    border-right: 1px solid black !important;
  }
}


app-timeline-editor {
  flex-shrink: 0;
}

:host p-button ::ng-deep button {
  &:focus {
    outline: none !important;
  }
}

:host p-dropdown.tracks-dropdown {
  &:focus {
    outline: none !important;
  }

  ::ng-deep {
    background-color: var(--app-surface) !important;
    border-radius: 0 !important;
    border: 0 !important;
    padding: 0;
    margin: 0;
    outline: none !important;
    width: 7.6rem !important;

    .p-select-label, .p-iconwrapper {
      color: var(--app-text-secondary) !important;
    }

    .p-select-overlay {
      background-color: var(--app-surface) !important;

      .p-select-list-container {
        max-height: 7rem !important;
      }

      .p-select-option:not(.p-select-option-selected) {
        color: var(--app-text-secondary) !important;

        &:hover, &.p-focus {
          background-color: var(--app-surface-hover) !important;
        }
      }

      .content-indicator {
        background-color: var(--p-badge-info-background);
        width: 0.65rem;
        height: 0.65rem;
        border-radius: 50%;
        border: 1px solid black;
        display: inline-block;
        box-sizing: border-box;
      }
    }
  }

  .track-option {
    display: flex;
    white-space: nowrap;
    align-items: center;
  }
}

.interaction-blocker {
  position: fixed;
  top: var(--app-header-height); /* Don't block the header */
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999; /* Below header p-menu overlay */
  cursor: wait;
}
