
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.video-area {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
  box-sizing: border-box;
}

.video-wrapper {
  max-width: 1285px;
  width: 100%;
  height: 100%;
  position: relative;
}

.subtitle-display {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #222;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #2a2a2a;
  flex-shrink: 0;

  .settings-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    right: 1rem;
  }

  p-button ::ng-deep button {
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
  }
}


app-timeline-editor {
  flex-shrink: 0;
}

.blurred-subtitles {
  filter: blur(12px);
  overflow: hidden;
}

.hidden-subtitles {
  visibility: hidden;
}
