<div class="content-wrapper">
  <div class="video-area" (click)="onVideoAreaClick()">
    <app-video-controller #videoController (ready)="onPlayerReady()"/>
    <app-subtitles-overlay [currentClip]="clipsStateService.currentClipForAllTracks()"
                           [rawAssContent]="scopedAssContent()"
                           [videoWidth]="project()?.videoWidth"
                           [videoHeight]="project()?.videoHeight"
                           [videoContainerElement]="videoController.videoContainerElement()"
                           [isContextMenuOpen]="isSubtitlesContextMenuOpen()"
                           (contextMenuRequested)="onSubtitlesContextMenu($event)"
                           (defaultActionRequested)="onDefaultAction($event)"/>
  </div>

  <div class="toolbar">
    <div class="toolbar-actions-wrapper" [class.with-tracks-dropdown]="trackIndexes().length > 1">
      <p-button icon="fa-solid {{clipsStateService.isPlaying() ? 'fa-pause' : 'fa-play'}}"
                [pTooltip]="(clipsStateService.isPlaying() ? 'Pause' : 'Play') + ' (Space)'"
                tooltipPosition="bottom"
                severity="secondary"
                (onClick)="togglePlayPause()"/>

      <p-button icon="fa-solid fa-repeat"
                pTooltip="Repeat current clip (↑)"
                tooltipStyleClass="tooltip-one-line"
                tooltipPosition="bottom"
                severity="secondary"
                (onClick)="repeatCurrentClip()"/>

      <p-button icon="fa-solid fa-arrow-left"
                pTooltip="Previous subtitled clip (Ctrl + ←)"
                tooltipStyleClass="tooltip-one-line"
                tooltipPosition="bottom"
                severity="secondary"
                [disabled]="isGoToPreviousSubtitledClipActionDisabled()"
                (onClick)="goToPreviousSubtitledClip()"/>

      <p-button icon="fa-solid fa-arrow-right"
                pTooltip="Next subtitled clip (Ctrl + →)"
                tooltipStyleClass="tooltip-one-line"
                tooltipPosition="bottom"
                severity="secondary"
                [disabled]="isGoToNextSubtitledClipActionDisabled()"
                (onClick)="goToNextSubtitledClip()"/>

      <p-button (click)="opStart.toggle($event)"
                icon="fa-solid fa-arrows-down-to-line fa-rotate-90"
                severity="secondary"
                pTooltip="Adjust Clip Start"
                tooltipPosition="bottom"
                [disabled]="isFirstClip()"/>

      <p-popover #opStart>
        <div class="p-buttonset">
          <p-button (click)="adjustClipStartLeft()" icon="fa fa-chevron-left" severity="secondary" variant="outlined"
                    tooltipPosition="left" pTooltip="Adjust Left ([)"/>
          <p-button (click)="adjustClipStartRight()" icon="fa fa-chevron-right" severity="secondary" variant="outlined"
                    tooltipPosition="right" pTooltip="Adjust Right (Ctrl+[)"/>
        </div>
      </p-popover>

      <p-button (click)="opEnd.toggle($event)"
                icon="fa-solid fa-arrows-up-to-line fa-rotate-90"
                severity="secondary"
                pTooltip="Adjust Clip End"
                tooltipPosition="bottom"
                [disabled]="isLastClip()"/>

      <p-popover #opEnd>
        <div class="p-buttonset">
          <p-button (click)="adjustClipEndLeft()" icon="fa fa-chevron-left" severity="secondary" variant="outlined"
                    tooltipPosition="left" pTooltip="Adjust Left (Ctrl+])"/>
          <p-button (click)="adjustClipEndRight()" icon="fa fa-chevron-right" severity="secondary" variant="outlined"
                    tooltipPosition="right" pTooltip="Adjust Right (])"/>
        </div>
      </p-popover>

      <p-button icon="fa-solid fa-backward-step"
                pTooltip="Previous Media File (Ctrl+,)"
                tooltipPosition="bottom"
                tooltipStyleClass="tooltip-one-line"
                severity="secondary"
                [disabled]="!videoStateService.prevMediaPath()"
                (onClick)="loadAdjacentMedia('previous')"/>

      <p-button icon="fa-solid fa-forward-step"
                pTooltip="Next Media File (Ctrl+.)"
                tooltipPosition="bottom"
                tooltipStyleClass="tooltip-one-line"
                severity="secondary"
                [disabled]="!videoStateService.nextMediaPath()"
                (onClick)="loadAdjacentMedia('next')"/>

      @if (trackIndexes().length > 1) {
        <p-overlaybadge badgeSize="small"
                        severity="info"
                        [pTooltip]="trackDropdownTooltip()"
                        tooltipStyleClass="tooltip-one-line"
                        [badgeDisabled]="!hasParallelClipsAtCurrentTime()">
          <p-dropdown [options]="trackOptions()"
                      [ngModel]="clipsStateService.activeTrack()"
                      (onChange)="onTrackChange($event.value)"
                      class="tracks-dropdown"
                      optionLabel="label"
                      optionValue="value">
            <ng-template let-option pTemplate="item">
              <div class="track-option"
                   [pTooltip]="option.hasContent ? 'Contains Parallel Subtitle' : undefined"
                   tooltipStyleClass="tooltip-one-line"
                   tooltipPosition="right">
                <span>{{ option.label }}</span>
                @if (option.hasContent) {
                  <div class="content-indicator ml-2"></div>
                }
              </div>
            </ng-template>
          </p-dropdown>
        </p-overlaybadge>
      }
    </div>

    <div class="toolbar-actions-wrapper">
      @if (videoStateService.duration() > 0) {
        <div class="ml-2 mr-2">
          <span>{{ videoStateService.currentTime() * 1000 | date:'HH:mm:ss':'UTC' }}</span>
          <span class="text-gray-500 mx-1">/</span>
          <span class="text-gray-400">{{ videoStateService.duration() * 1000 | date:'HH:mm:ss':'UTC' }}</span>
        </div>
      }

      @let subtitlesVisible = videoStateService.subtitlesVisible();
      <p-button icon="{{subtitlesVisible ? 'fa-solid' : 'fa-regular'}} fa-closed-captioning"
                [pTooltip]="(subtitlesVisible ? 'Hide subtitles' : 'Show subtitles') + ' (C)'"
                (onClick)="toggleSubtitlesVisible()"
                tooltipPosition="left"
                severity="secondary"/>

      <p-button icon="fa-solid fa-gear"
                pTooltip="Project settings (P)"
                tooltipStyleClass="tooltip-one-line"
                tooltipPosition="left"
                severity="secondary"
                (onClick)="toggleSettings()"/>
    </div>
  </div>

  <div class="timeline-area">
    <app-timeline-editor #timelineEditor
                         (contextMenuRequested)="onTimelineContextMenu($event)"
                         (hideContextMenuRequested)="onHideTimelineContextMenu()"/>
  </div>

  <p-drawer [visible]="projectSettingsStateService.isSettingsDrawerOpen()"
            (visibleChange)="projectSettingsStateService.setSettingsDrawerOpen($event)"
            header="Settings"
            position="right"
            [style]="{width: '30rem'}">
    <ng-template pTemplate="content">
      <app-current-project-settings [settings]="projectSettingsStateService.settings()"
                                    [audioTracks]="project()?.audioTracks || []"
                                    [settingsPresets]="settingsPresets()"
                                    [isAssProject]="isAssProject()"
                                    [selectedSettingsPreset]="selectedSettingsPreset()"
                                    [detectedLanguage]="project()?.detectedLanguage"
                                    [ankiTags]="project()?.ankiTags || []"
                                    (settingsChange)="projectSettingsStateService.setSettings($event)"
                                    (selectedSettingsPresetChange)="onSettingsPresetChange($event)"
                                    (ankiTagsChange)="onAnkiTagsChange($event)"/>
    </ng-template>
  </p-drawer>
</div>

<app-subtitles-highlighter/>

<p-contextMenu #subtitlesContextMenu
               [model]="subtitlesMenuItems()"
               styleClass="subtitles-context-menu"
               (onHide)="onSubtitlesContextMenuHide()"></p-contextMenu>

<p-contextMenu #timelineContextMenu
               [model]="timelineMenuItems()"
               appendTo="body"
               styleClass="timeline-context-menu"
               (onHide)="onTimelineContextMenuHide()"></p-contextMenu>
