:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}


.video-area {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
  box-sizing: border-box;
  position: relative;

  app-video-controller {
    width: 100%;
    height: 100%;
  }
}

.timeline-area {
  flex-shrink: 0; // Prevents the timeline from shrinking
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a2a2a;
  flex-shrink: 0;
  border: 1px solid black;

  .toolbar-actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toolbar-actions-wrapper:last-of-type p-button:first-of-type {
    border-left: 1px solid black !important; // first button of 2nd toolbar-actions-wrapper
  }

  p-button ::ng-deep button {
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0;
    background-color: var(--app-surface) !important;
    border: none !important;

    &:hover {
      background-color: var(--app-surface-hover) !important;
    }

    .p-button-icon {
      color: var(--app-text-secondary);
    }
  }

  p-button {
    border-right: 1px solid black !important;
  }
}


app-timeline-editor {
  flex-shrink: 0;
}
