<div class="video-area">
  <div class="video-wrapper">
    <app-video-player [options]="options"/>
  </div>
</div>

<div class="subtitle-display">
  @if (videoStateService.currentClip(); as currentClip) {
    @if (currentClip.hasSubtitle) {
      <span [class.blurred-subtitles]="!videoStateService.subtitlesVisible()">
        {{ currentClip.text }}
      </span>
    } @else {
      &nbsp;
    }
  } @else {
    &nbsp;
  }
</div>

<div class="toolbar">
  <p-button icon="fa-solid fa-arrow-left"
            pTooltip="Poprzednie napisy"
            tooltipPosition="left"
            severity="secondary"
            (onClick)="goToPreviousClip()"/>

  <p-button icon="fa-solid fa-repeat"
            pTooltip="Powtórz"
            tooltipPosition="top"
            severity="secondary"/>

  <p-button icon="fa-solid fa-arrow-right"
            pTooltip="Następne napisy"
            tooltipPosition="right"
            severity="secondary"
            (onClick)="goToNextClip()"/>

  <div class="settings-wrapper">
    @let subtitlesVisible = videoStateService.subtitlesVisible();
    <p-button icon="{{subtitlesVisible ? 'fa-solid' : 'fa-regular'}} fa-closed-captioning"
              [pTooltip]="subtitlesVisible ? 'Ukryj napisy' : 'Pokaż napisy'"
              (onClick)="videoStateService.toggleSubtitlesVisible()"
              tooltipPosition="left"
              severity="secondary"/>

    <p-button icon="fa-solid fa-gear"
              pTooltip="Ustawienia"
              tooltipPosition="left"
              severity="secondary"
              (onClick)="isSettingsVisible.set(true)"/>
  </div>
</div>

<app-timeline-editor/>

<p-drawer [(visible)]="isSettingsVisible" header="Ustawienia" position="right">
  <app-project-settings/>
</p-drawer>
