<div class="header-wrapper">
  <div class="menu-wrapper">
    <div class="menu-button-wrapper">
      <p-menu #projectMenu [model]="menuItems()" [popup]="true"/>
      <p-button icon="fa-solid fa-bars"
                severity="secondary"
                size="small"
                (click)="projectMenu.toggle($event)"/>
    </div>

    @if (isProjectDetailsView()) {
      <div class="filename">
        <i class="fa-solid fa-file-video"></i>
        <span [pTooltip]="mediaFileName() || ''" tooltipPosition="bottom">
          {{ mediaFileName() || 'Loading media...' }}
        </span>
      </div>

      <div class="filename border-right-none">
        <i class="fa-solid fa-file-lines"></i>
        <span [pTooltip]="subtitleFileName() || ''" tooltipPosition="bottom">
          {{ subtitleFileName() || 'Loading subtitles...' }}
        </span>
      </div>
    } @else {
      <div class="filename border-right-none">
        <i class="fa-solid fa-file-video"></i>
        <span><b>Y</b>et <b>A</b>nother <b>L</b>anguage <b>L</b>earning <b>M</b>edia <b>P</b>layer</span>
      </div>
    }
  </div>

  <div class="drag-handle">
    <i class="fa-solid fa-up-down-left-right"></i>
  </div>

  <div class="window-controls-wrapper">
    <p-button (click)="onMinimizeClicked()"
              class="window-control"
              icon="fa-solid fa-window-minimize"
              pTooltip="Minimize"
              tooltipPosition="bottom"
              showDelay="1000"
              severity="secondary"
              size="small"
              text/>
    <p-button (click)="onToggleMaximizeClicked()"
              class="window-control"
              icon="fa-solid {{isMaximized() ? 'fa-window-restore' : 'fa-window-maximize'}}"
              pTooltip="{{isMaximized() ? 'Restore' : 'Maximize'}}"
              tooltipPosition="bottom"
              severity="secondary"
              showDelay="1000"
              size="small"
              text/>
    <p-button (click)="onToggleFullScreenClicked()"
              class="window-control"
              icon="fa-solid {{isFullScreen() ? 'fa-compress' : 'fa-expand'}}"
              severity="secondary"
              pTooltip="Full screen"
              tooltipPosition="bottom"
              showDelay="1000"
              size="small"
              text/>
    <p-button (click)="onCloseClicked()"
              icon="fa-solid fa-xmark"
              pTooltip="Close"
              tooltipPosition="bottom"
              showDelay="1000"
              severity="danger"
              text/>
  </div>
</div>
