:host {
  height: var(--app-header-height);
}

.header-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 100vw;
  justify-content: space-between;
  background-color: var(--app-bg);
  border-bottom: 1px solid var(--app-border);
  height: 100%;
}

.menu-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  flex: 1;
  min-width: 0;
}

.window-controls-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  flex-shrink: 0;
  border-left: 1px solid #444;
}

:host p-button ::ng-deep button {
  padding: 0 !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.menu-button-wrapper {
  padding: 0.5rem;
  border-right: 1px solid #444;
  flex-shrink: 0;
}

.filename {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-right: 1px solid #444;
  color: var(--app-text-secondary);
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1 1 0;
  max-width: max-content;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

p-button.window-control ::ng-deep button .p-button-icon {
  color: var(--app-text-secondary) !important;
}

p-button.window-control:hover ::ng-deep button .p-button-icon {
  color: var(--app-surface-hover) !important;
}

.drag-handle {
  width: var(--app-header-height);
  height: var(--app-header-height);
  border-left: 1px solid #444;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: var(--app-text-secondary) !important;
    font-size: 1.25rem;
  }
}

.menu-backdrop {
  position: fixed;
  inset: 0; // shorthand for top: 0, right: 0, bottom: 0, left: 0
  z-index: 999; // Below the menu overlay but above everything else
  background-color: transparent;
  cursor: default;
}
