<form [formGroup]="form" class="flex flex-column gap-4 mb-4">
  <div class="flex flex-column gap-2">
    <label for="service-name" class="required">Name</label>
    <input pInputText id="service-name" formControlName="name" placeholder="e.g., French Dictionary"/>
    <app-form-control-error [control]="form.get('name')"></app-form-control-error>
  </div>

  <div class="flex flex-column gap-2">
    <label for="service-url" class="required">URL Template</label>
    <input pInputText id="service-url" formControlName="urlTemplate"
           placeholder="e.g., https://images.google.com/search?q=%%SS"/>
    <small>Use <b>%%SS</b> as a placeholder for the selected subtitle text.</small>
    <app-form-control-error [control]="form.get('urlTemplate')"></app-form-control-error>
  </div>

  <div class="flex flex-column gap-2">
    <label for="service-browser">Browser</label>
    <p-select id="service-browser"
              appendTo="body"
              [options]="browserTypeOptions()"
              formControlName="browserType"/>
  </div>
</form>

<div class="flex align-items-center justify-content-end gap-2">
  <p-button label="Cancel" severity="secondary" icon="fa-solid fa-xmark" (click)="onCancel()"/>
  <p-button label="Save" severity="primary" icon="fa-solid fa-check" (click)="onSave()" data-primary-action/>
</div>
