:host ::ng-deep {
  .p-datatable .p-datatable-tbody > tr > td.word-break {
    word-break: break-word;
  }

  .p-datatable .p-datatable-thead > tr > th.text-center,
  .p-datatable .p-datatable-tbody > tr > td.text-center {
    text-align: center;
  }
}
