<div class="flex flex-column gap-4">
  @if (assSubtitleData && assSubtitleData.parts && assSubtitleData.parts.length > 1) {
    <div class="flex flex-column gap-2">
      <label>Select subtitle parts to include:</label>
      <div class="flex flex-column gap-2">
        @for (part of assSubtitleData.parts; track $index) {
          @let checkboxId = ('part-' + $index);
          <div class="flex align-items-center">
            <p-checkbox [(ngModel)]="selectedSubtitleParts"
                        [value]="part"
                        [inputId]="checkboxId"/>
            <label [for]="checkboxId" class="ml-2 font-normal">
              {{ part.text }}
            </label>
          </div>
        }
      </div>
    </div>
  } @else {
    <div class="flex flex-column gap-2">
      <label>Subtitle Text</label>
      <span class="subtitle-full-text">{{ finalTextPreview() }}</span>
    </div>
  }

  <div class="flex flex-column gap-4">
    <label for="template-select">Export using template(s):</label>
    <div class="flex flex-column gap-2">
      @for (template of ankiService.ankiCardTemplates(); track template.id) {
        <div class="flex align-items-center">
          <p-checkbox [value]="template"
                      [inputId]="template.id"
                      [(ngModel)]="selectedTemplates"></p-checkbox>
          <label [for]="template.id" class="ml-2">{{ template.name }}</label>
          <p-button icon="fa-solid fa-tags"
                    [text]="true"
                    size="small"
                    rounded="true"
                    severity="secondary"
                    pTooltip="View combined Anki tags"
                    tooltipPosition="right"
                    (click)="tagsPopover.toggle($event)"/>
          <p-popover #tagsPopover [style]="{width: '22.5rem'}">
            <div class="flex flex-column gap-2 p-2">
              <h4 class="m-0">Combined Anki tags for this template</h4>
              @let groupedTags = getGroupedTagsForTemplate(template);

              <div class="flex flex-column gap-2">
                <small>Global</small>
                <div class="flex flex-wrap gap-2">
                  @for (tag of groupedTags.global; track tag) {
                    <p-chip [label]="tag"/>
                  } @empty {
                    <small class="text-gray-500">No global Anki tags defined.</small>
                  }
                </div>
              </div>

              <div class="flex flex-column gap-2">
                <small>Project</small>
                <div class="flex flex-wrap gap-2">
                  @for (tag of groupedTags.project; track tag) {
                    <p-chip [label]="tag"/>
                  } @empty {
                    <small class="text-gray-500">No project Anki tags defined.</small>
                  }
                </div>
              </div>

              <div class="flex flex-column gap-2">
                <small>Template</small>
                <div class="flex flex-wrap gap-2">
                  @for (tag of groupedTags.template; track tag) {
                    <p-chip [label]="tag"/>
                  } @empty {
                    <small class="text-gray-500">No template-specific Anki tags defined.</small>
                  }
                </div>
              </div>

              <p-divider/>

              <small class="text-gray-500">
                Card-specific tags entered at the bottom of export form will also be included.
              </small>
            </div>
          </p-popover>
        </div>
      } @empty {
        <span class="text-gray-500">
          No valid Anki templates found.
        </span>
      }
    </div>
    <div class="text-sm mt-2">
      <a href="#" (click)="openGlobalSettings($event)">Add or edit templates in global settings</a>.
    </div>
  </div>

  <div class="flex flex-column gap-4">
    <label for="manual-note">Manual Note</label>
    <textarea id="manual-note"
              pInputTextarea
              [(ngModel)]="manualNote"
              [autoResize]="true"
              rows="3"
              placeholder="Add a personal note for this clip..."></textarea>
  </div>

  <div class="flex flex-column gap-4">
    <div class="flex align-items-center gap-2">
      <label>Lookup Notes</label>
      <p-button icon="fa-solid fa-circle-question"
                [text]="true"
                size="small"
                rounded="true"
                severity="secondary"
                pTooltip="How to Add"
                (click)="notesHelpPopover.toggle($event)">
      </p-button>
      <p-popover #notesHelpPopover [style]="{width: '22.5rem'}">
        <div class="flex flex-column gap-3 p-2">
          <h4 class="m-0">How to Add Lookup Notes</h4>
          <ul class="m-0 pl-3">
            <li>
              <b>Click a word</b> (or <b>drag to select a phrase</b>) in the subtitles to open a lookup service (website).
            </li>
            <li class="mt-2">
              Ensure the lookup service (website) is set to use the <b>built-in browser</b> in global settings.
            </li>
            <li class="mt-2">
              Inside the browser, select any text and add it as a note using one of these methods:
              <ul class="mt-2 pl-3">
                <li><b>Right-Click</b> &rarr; <b>Add to Notes</b></li>
                <li>Pressing <b>Ctrl+Shift+S</b></li>
              </ul>
            </li>
          </ul>
          <small>
            <i>
              Note: The new note will be saved under the original word/phrase that was selected from the subtitles.
            </i>
          </small>
        </div>
      </p-popover>
    </div>

    @if (lookupNotesView().length > 0) {
      <p-accordion [multiple]="true" [(value)]="activeNoteAccordionIndices">
        @for (selectionGroup of lookupNotesView(); track selectionGroup.selection; let i = $index) {
          <p-accordion-panel [value]="i">
            <p-accordion-header>
              <p class="m-0 p-0">
                &quot;<span class="subtitles-font">{{ selectionGroup.selection }}</span>&quot;
                ({{ selectionGroup.notes.length }} notes)
              </p>
            </p-accordion-header>
            <p-accordion-content>
              @if (activeNoteAccordionIndices().includes(i)) {
                <div class="notes-list-container">
                  @for (note of selectionGroup.notes; track note.originalIndex; let isLast = $last) {
                    <div class="note-item flex align-items-center gap-2 py-3 pl-3">
                      <div class="note-text flex-1" [innerHTML]="formatNoteText(note.text)"></div>
                      <p-button icon="fa-solid fa-pencil"
                                severity="info"
                                [text]="true"
                                pTooltip="Edit Note"
                                (onClick)="onEditNote(note)"></p-button>
                      <p-button icon="fa-solid fa-trash"
                                severity="danger"
                                [text]="true"
                                pTooltip="Delete Note"
                                (onClick)="onDeleteNote(selectionGroup.selection, note.originalIndex)"></p-button>
                    </div>
                    @if (!isLast) {
                      <p-divider class="my-0"></p-divider>
                    }
                  }
                </div>
              }
            </p-accordion-content>
          </p-accordion-panel>
        }
      </p-accordion>
    } @else {
      <div class="text-gray-500 p-4 text-center notes-placeholder">No lookup notes for this clip.</div>
    }
  </div>

  <div class="flex flex-column gap-4">
    <label for="anki-tags">Card-Specific Tags</label>
    <app-tags-input [ngModel]="cardSpecificTags()"
                    (ngModelChange)="cardSpecificTags.set($event)"></app-tags-input>
  </div>

  <div class="flex align-items-center">
    <p-checkbox [(ngModel)]="suspendCard" [binary]="true" inputId="suspend-checkbox"></p-checkbox>
    <label for="suspend-checkbox" class="ml-2">Create card as initially suspended</label>
  </div>

  <div class="flex align-items-center justify-content-end gap-2">
    <p-button label="Close"
              icon="fa-solid fa-close"
              severity="secondary"
              (click)="onClose()"></p-button>

    <p-button label="Export"
              icon="fa-solid fa-upload"
              [disabled]="selectedTemplates().length === 0"
              [loading]="isExporting()"
              (click)="onExport()"
              data-primary-action>
    </p-button>
  </div>
</div>
