@if (isExporting()) {
  <div class="interaction-blocker" title="Please wait for the export to finish..."></div>
}

<div class="p-dialog-header p-4">
  <span class="p-dialog-title">Export to Anki</span>
  <div class="p-dialog-header-actions">
    @if (isAlreadyExported()) {
      <p-tag severity="success" value="Exported"/>
    } @else {
      <p-tag severity="info" value="Not exported yet"/>
    }
  </div>
</div>

<div class="flex-1 overflow-y-auto p-4 pt-0">
  <div class="flex flex-column gap-4">
    @if (assSubtitleData() && assSubtitleData()!.parts && assSubtitleData()!.parts!.length > 1) {
      <div class="flex flex-column gap-2">
        <label>Select subtitle parts to include:</label>
        <div class="flex flex-column gap-2">
          @for (part of assSubtitleData()!.parts; track $index) {
            @let checkboxId = ('part-' + $index);
            <div class="flex align-items-center">
              <p-checkbox [(ngModel)]="selectedSubtitleParts"
                          [value]="part"
                          [inputId]="checkboxId"/>
              <label [for]="checkboxId" class="ml-2 subtitles-font word-break">
                {{ part.text }}
              </label>
            </div>
          }
        </div>
      </div>
    } @else {
      <div class="flex flex-column gap-2">
        <label>Subtitle Text</label>
        <span class="subtitle-full-text" [innerHTML]="finalTextPreviewHtml()"></span>
      </div>
    }

    <div class="flex flex-column gap-2">
      <label for="template-select">Export using template(s):</label>
      <div class="flex flex-column gap-2">
        @for (template of ankiService.ankiCardTemplates(); track template.id) {
          <div class="flex align-items-center">
            <p-checkbox [value]="template"
                        [inputId]="template.id"
                        [(ngModel)]="selectedTemplates"></p-checkbox>
            <label [for]="template.id" class="ml-2 word-break">{{ template.name }}</label>
            <p-button icon="fa-solid fa-tags"
                      [text]="true"
                      size="small"
                      rounded="true"
                      severity="secondary"
                      pTooltip="View combined Anki tags"
                      tooltipPosition="right"
                      (click)="tagsPopover.toggle($event)"/>
            <p-popover #tagsPopover [style]="{width: '22.5rem'}">
              <div class="flex flex-column gap-2 p-2">
                <h4 class="m-0">Combined Anki tags for this template</h4>
                @let groupedTags = getGroupedTagsForTemplate(template);

                <div class="flex flex-column gap-2">
                  <small>Global</small>
                  <div class="flex flex-wrap gap-2">
                    @for (tag of groupedTags.global; track tag) {
                      <p-chip [label]="tag"/>
                    } @empty {
                      <small class="text-gray-500">No global Anki tags defined.</small>
                    }
                  </div>
                </div>

                <div class="flex flex-column gap-2">
                  <small>Project</small>
                  <div class="flex flex-wrap gap-2">
                    @for (tag of groupedTags.project; track tag) {
                      <p-chip [label]="tag"/>
                    } @empty {
                      <small class="text-gray-500">No project Anki tags defined.</small>
                    }
                  </div>
                </div>

                <div class="flex flex-column gap-2">
                  <small>Template</small>
                  <div class="flex flex-wrap gap-2">
                    @for (tag of groupedTags.template; track tag) {
                      <p-chip [label]="tag"/>
                    } @empty {
                      <small class="text-gray-500">No template-specific Anki tags defined.</small>
                    }
                  </div>
                </div>

                <p-divider/>

                <small class="text-gray-500">
                  Card-specific tags entered at the bottom of export form will also be included.
                </small>
              </div>
            </p-popover>
          </div>
        } @empty {
          <span class="text-gray-500">
            No valid Anki templates found.
          </span>
        }
      </div>
      <div class="text-sm mt-2">
        <a href="#" (click)="openGlobalSettings($event)">Add or edit templates in global settings</a>.
      </div>
    </div>

    <div class="flex flex-column gap-2">
      <label for="hint-context">Hint</label>
      <textarea id="hint-context"
                pInputTextarea
                [(ngModel)]="hint"
                [autoResize]="false"
                rows="2"
                placeholder="Optional context (e.g., &quot;Character talking about a car...&quot;)"
                maxlength="1000"></textarea>
    </div>

    <app-project-notes [projectId]="data.project.id"
                       [clipId]="data.subtitleData.id"
                       [notesData]="initialNotes()"
                       (notesChange)="onNotesChanged($event)">
    </app-project-notes>

    <div class="flex flex-column gap-2">
      <label for="anki-tags">Card-Specific Tags</label>
      <app-tags-input [ngModel]="cardSpecificTags()"
                      (ngModelChange)="cardSpecificTags.set($event)"></app-tags-input>
    </div>

    <div class="flex align-items-center">
      <p-checkbox [(ngModel)]="suspendCard" [binary]="true" inputId="suspend-checkbox"></p-checkbox>
      <label for="suspend-checkbox" class="ml-2">Create card as initially suspended</label>
    </div>
  </div>
</div>

<div class="flex align-items-center justify-content-end gap-2 p-3 mt-auto border-top-1 surface-border flex-shrink-0 bg-white z-1">
  <p-button label="Close"
            icon="fa-solid fa-xmark"
            severity="secondary"
            [disabled]="isExporting()"
            (click)="onClose()"></p-button>

  <p-button label="Export"
            icon="fa-solid fa-upload"
            [loading]="isExporting()"
            (click)="onExport()"
            data-primary-action>
  </p-button>
</div>
