<div class="dialog-content">
  @if (data.type === 'srt') {
    <textarea pTextarea [(ngModel)]="text" [autoResize]="true" rows="3"></textarea>
  } @else {
    @for (part of editableParts; track $index) {
      <div class="ass-part-container">
        <div class="part-content">
          @if (part.fragments && part.fragments.length > 0) {
            @for (fragment of part.fragments; track $index) {
              @if (!fragment.isTag) {
                <textarea pInputTextarea
                          class="text-fragment"
                          [(ngModel)]="fragment.text"
                          rows="1"
                          [autoResize]="true"></textarea>
              }
            }
          } @else {
            <textarea pInputTextarea [(ngModel)]="part.text" [rows]="3"></textarea>
          }
        </div>
      </div>

      @if(!$last && part.text.trim().length) {
        <p-divider/>
      }
    }
  }

  <div class="dialog-actions">
    <p-button label="Cancel"
              icon="fa-solid fa-xmark"
              severity="secondary"
              (click)="close()"/>

    <p-button label="Save"
              icon="fa-solid fa-check"
              severity="primary"
              (click)="save()"
              data-primary-action/>
  </div>
</div>
