<div class="dialog-content">
  <form [formGroup]="form">
    @if (data.type === 'srt') {
      <textarea pTextarea formControlName="text" [autoResize]="false" rows="3"></textarea>
      <app-form-control-error [control]="form.get('text')"></app-form-control-error>
    } @else {
      <div formArrayName="parts">
        @for (partGroup of partsFormArray.controls; track $index) {
          @let partIndex = $index;
          <div [formGroupName]="partIndex">
            <div class="part-content">
              @if (getFragmentsArray(partIndex).length > 0) {
                <div formArrayName="fragments">
                  @for (fragmentGroup of getFragmentsArray(partIndex).controls; track $index) {
                    @let fragmentIndex = $index;
                    @if (fragmentGroup.get('isTag')?.value === false) {
                      <div [formGroupName]="fragmentIndex">
                         <textarea pInputTextarea
                                   formControlName="text"
                                   rows="3"
                                   [autoResize]="false"></textarea>
                        <app-form-control-error [control]="fragmentGroup.get('text')"></app-form-control-error>
                      </div>
                    }
                  }
                </div>
              } @else {
                <textarea pInputTextarea formControlName="text" rows="3" [autoResize]="false"></textarea>
                <app-form-control-error [control]="partGroup.get('text')"></app-form-control-error>
              }
            </div>
          </div>
          @if (!$last) {
            <p-divider/>
          }
        }
      </div>
      <app-form-control-error [control]="partsFormArray"></app-form-control-error>
    }
  </form>

  <div class="dialog-actions">
    <p-button label="Cancel"
              icon="fa-solid fa-xmark"
              severity="secondary"
              (click)="close()"/>

    <p-button label="Save"
              icon="fa-solid fa-check"
              severity="primary"
              (click)="save()"
              data-primary-action/>
  </div>
</div>
