:host ::ng-deep {
  .p-tag {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.75rem 1rem;
    vertical-align: middle;
  }
}

:host p-accordion ::ng-deep {
  .p-accordioncontent-content {
    padding: 0 !important;
  }

  p-accordion-header .p-iconwrapper {
    transform: rotate(180deg); // fix for https://github.com/primefaces/primeng/issues/18444
  }
}

.license-raw-text {
  white-space: pre-wrap;
  word-break: break-word;
  font-family: monospace;
  background-color: var(--surface-ground);
  padding: 1rem;
  border-radius: 6px;
  overflow-x: hidden;
}
