:host ::ng-deep {
  .p-tag {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.75rem 1rem;
    vertical-align: middle;
  }
}
