@use 'sass:color';
@use "@fontsource-variable/inter";

// Base subtitle font (Latin, Cyrillic, Greek, Devanagari, Hindi, Vietnamese etc.)
@use '@fontsource-variable/noto-sans';

// CJK scripts
@use '@fontsource-variable/noto-sans-jp';
@use '@fontsource-variable/noto-sans-sc';
@use '@fontsource-variable/noto-sans-tc';
@use '@fontsource-variable/noto-sans-kr';

// Other major complex scripts
@use '@fontsource-variable/noto-sans-thai';
@use '@fontsource-variable/noto-sans-arabic';
@use '@fontsource-variable/noto-sans-hebrew';
@use '@fontsource-variable/noto-sans-bengali';

:root {
  --app-header-height: 2.5rem;
  --app-bg: #1e1e1e;
  --app-surface-dark: #242424;
  --app-surface: #2a2a2a;
  --app-surface-hover: #3c3c3c;
  --app-border: #4a4a4a;
  --app-primary: var(--p-sky-600);
  --app-danger: #ef4444;
  --app-inactive-subtitle-bg: rgba(255, 165, 0, 0.2);
  --app-gap-bg: rgba(100, 100, 100, 0.1);
  --app-text: #e5e7eb;
  --app-text-secondary: #ceced1;
  --app-border-radius: 0.75rem;
  --app-font-family: "Inter Variable";
  --app-font-subtitles: "Noto Sans SC Variable", "Noto Sans TC Variable", "Noto Sans JP Variable", "Noto Sans KR Variable", "Noto Sans Thai Variable", "Noto Sans Arabic Variable", "Noto Sans Hebrew Variable", "Noto Sans Bengali Variable", "Noto Sans Variable";

  --p-slider-track-size: 6px !important;
  --p-message-error-background: #dc2626 !important;
  --p-overlaybadge-outline-width: 1px !important;
  --p-overlaybadge-outline-color: black !important;
  --p-badge-sm-min-width: 0.5rem !important;
  --p-badge-sm-height: 0.5rem !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--app-text);
  overflow: hidden;
  font-family: var(--app-font-family), sans-serif;
}

video {
  &:focus-visible {
    outline: none !important;
  }
}

.rotate-90 {
  display: inline-block;
  transform: rotate(90deg);
}

label {
  user-select: none;
}

.settings-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--surface-d);

  &:last-child {
    border-bottom: none;
  }
}

.setting-item-column {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--surface-d);

  &:last-child {
    border-bottom: none;
  }
}

p-fieldset {
  ::ng-deep .p-fieldset-content {
    padding: 0 1.25rem 1.25rem 1.25rem;
  }
}

label {
  font-weight: bold;
}

p-accordion-panel:not(.p-accordionpanel-active) p-accordion-content {
  display: none !important;
}

.p-drawer {
  top: var(--app-header-height) !important;
  height: calc(100% - var(--app-header-height)) !important;
}

p-toast {
  .p-toast-top-right,
  .p-toast-top-left,
  .p-toast-top-center {
    top: calc(var(--app-header-height) + 1.25rem) !important; // 1.25rem is the default PrimeNG offset
  }
}

p-contextmenu {
  .p-contextmenu-root-list {
    max-width: 25rem !important;
    max-height: 50vh !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .p-contextmenu-item-content {
    word-break: break-word;
  }
}

p-contextmenu-sub {
  .context-menu-subtitle-text .p-contextmenu-item-label {
    font-family: var(--app-font-subtitles), sans-serif !important;
    color: var(--p-contextmenu-color) !important;
    word-break: break-word;
    max-width: 25rem !important;
  }
}

.context-menu-selected-text {
  font-family: var(--app-font-subtitles), sans-serif !important;
  width: fit-content !important;
}

label.required::after {
  content: ' *';
  color: var(--p-red-500)
}

p-badge {
  white-space: nowrap;
}

p-badge.default-lookup-service-badge {
  min-width: auto !important;
}

textarea {
  resize: none;
}

.word-break {
  word-break: break-word;
}

.p-contextmenu.timeline-context-menu {
  z-index: 9999 !important;
}

.p-tooltip.tooltip-one-line {
  width: fit-content;
  max-width: initial !important;

  .p-tooltip-text {
    white-space: nowrap;
  }
}
