@use 'sass:color';
@use "@fontsource-variable/inter";

:root {
  --app-header-height: 2.5rem;
  --app-bg: #1e1e1e;
  --app-surface-dark: #242424;
  --app-surface: #2a2a2a;
  --app-surface-hover: #3c3c3c;
  --app-border: #4a4a4a;
  --app-primary: var(--p-sky-600);
  --app-danger: #ef4444;
  --app-inactive-subtitle-bg: rgba(255, 165, 0, 0.2);
  --app-gap-bg: rgba(100, 100, 100, 0.1);
  --app-text: #e5e7eb;
  --app-text-secondary: #ceced1;
  --app-font-family: "Inter Variable";
  --app-border-radius: 0.75rem;

  --p-progressbar-value-background: var(--p-sky-600) !important;
  --p-button-primary-background: var(--p-sky-600) !important;
  --p-button-primary-hover-background: var(--p-sky-700) !important;
  --p-button-primary-active-background: var(--p-sky-800) !important;
  --p-button-primary-border-color: var(--p-sky-800) !important;
  --p-button-primary-active-border-color: var(--p-sky-800) !important;
  --p-button-primary-hover-border-color: var(--p-sky-800) !important;
  --p-button-text-primary-color: var(--p-sky-600) !important;
  --p-button-text-primary-hover-background: var(--p-sky-100) !important;
  --p-button-text-primary-active-background: var(--p-sky-200) !important;
  --p-textarea-focus-ring-color: var(--p-sky-600) !important;
  --p-menu-item-focus-background: var(--p-sky-600) !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--app-text);
  overflow: hidden;
  font-family: var(--app-font-family), sans-serif;
}

video {
  &:focus-visible {
    outline: none !important;
  }
}

.rotate-90 {
  display: inline-block;
  transform: rotate(90deg);
}

label {
  user-select: none;
}

.settings-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--surface-d);

  &:last-child {
    border-bottom: none;
  }
}

.setting-item-column {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--surface-d);

  &:last-child {
    border-bottom: none;
  }
}

p-fieldset {
  ::ng-deep .p-fieldset-content {
    padding: 0 1.25rem 1.25rem 1.25rem;
  }
}

label {
  font-weight: bold;
}

p-accordion-panel:not(.p-accordionpanel-active) p-accordion-content {
  display: none !important;
}

.p-drawer {
  top: var(--app-header-height) !important;
  height: calc(100% - var(--app-header-height)) !important;
}

p-toast {
  .p-toast-top-right,
  .p-toast-top-left,
  .p-toast-top-center {
    top: calc(var(--app-header-height) + 1.25rem) !important; // 1.25rem is the default PrimeNG offset
  }
}
