@use 'sass:color';
@use "@fontsource-variable/inter";

:root {
  --app-bg: #1e1e1e;
  --app-surface: #2a2a2a;
  --app-surface-hover: #3c3c3c;
  --app-border: #4a4a4a;
  --app-primary: var(--p-sky-600);
  --app-danger: #ef4444;
  --app-inactive-subtitle-bg: rgba(255, 165, 0, 0.2);
  --app-gap-bg: rgba(100, 100, 100, 0.1);
  --app-text: #e5e7eb;
  --app-text-secondary: #ceced1;
  --app-font-family: "Inter Variable";

  --p-progressbar-value-background: var(--p-sky-600) !important;
  --p-button-primary-background: var(--p-sky-600) !important;
  --p-button-primary-hover-background: var(--p-sky-700) !important;
  --p-button-primary-active-background: var(--p-sky-800) !important;
  --p-button-primary-border-color: var(--p-sky-800) !important;
  --p-button-primary-active-border-color: var(--p-sky-800) !important;
  --p-button-primary-hover-border-color: var(--p-sky-800) !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--app-bg);
  color: var(--app-text);
  overflow: hidden;
  font-family: var(--app-font-family), sans-serif;
}

video {
  &:focus-visible {
    outline: none !important;
  }
}

.video-js {
  &.vjs-paused {
    .vjs-big-play-button {
      display: none;
    }

    .vjs-control-bar {
      display: flex;
    }
  }

  .vjs-tech {
    pointer-events: none !important;
  }

  .vjs-text-track-display {
    pointer-events: initial !important;
  }
}

.rotate-90 {
  display: inline-block;
  transform: rotate(90deg);
}
