html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1a1a1a;
  color: #f0f0f0;
  overflow: hidden;
}

video {
  &:focus-visible {
    outline: none !important;
  }
}

.video-js {
  &.vjs-paused {
    .vjs-big-play-button {
      display: none;
    }

    .vjs-control-bar {
      display: flex;
    }
  }

  .vjs-tech {
    pointer-events: none !important;
  }

  .vjs-text-track-display {
    pointer-events: initial !important;
  }
}

.rotate-90 {
  display: inline-block;
  transform: rotate(90deg);
}
