<p-tabs [(value)]="selectedTabIndex" scrollable>
  <p-tablist>
    <p-tab [value]="GlobalSettingsTab.General">General</p-tab>
    <p-tab [value]="GlobalSettingsTab.ProjectDefaults">Project Defaults</p-tab>
    <p-tab [value]="GlobalSettingsTab.Anki">Anki integration</p-tab>
    <p-tab [value]="GlobalSettingsTab.OnlineLookups">Online Lookups</p-tab>
    <p-tab [value]="GlobalSettingsTab.OfflineDictionaries">Offline Dictionaries</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel [value]="GlobalSettingsTab.General">
      <p class="mt-0">
        Global settings common for all projects.
      </p>
      <app-global-settings/>
    </p-tabpanel>
    <p-tabpanel [value]="GlobalSettingsTab.ProjectDefaults">
      <p class="mt-0">
        Settings that will be applied by default to all new projects.
      </p>
      <app-common-project-settings [settings]="globalSettingsStateService.defaultProjectSettings()"
                                   (settingsChange)="onDefaultSettingsChange($event)"/>
    </p-tabpanel>
    <p-tabpanel [value]="GlobalSettingsTab.Anki">
      <p class="mt-0">
        <a href="#" (click)="onExternalLinkClick('https://apps.ankiweb.net/', $event)">Anki</a> is a smart spaced repetition flashcard program.
        Make sure you have the <a href="#" (click)="onExternalLinkClick('https://ankiweb.net/shared/info/2055492159', $event)">AnkiConnect</a> addon installed.
        <br>
        Open the Anki program and go to <a href="#" (click)="onExternalLinkClick('http://localhost:8765/', $event)">http://localhost:8765/</a> - you should see something like this:
        <code>&#123;"apiVersion": "AnkiConnect v.6"&#125;</code>.
        <br>
        If you need more detailed integration instructions, read <a href="#" (click)="onExternalLinkClick('https://yallmp.com/anki.html', $event)">official Anki integration guide</a>.
      </p>
      <app-anki-settings/>
    </p-tabpanel>
    <p-tabpanel [value]="GlobalSettingsTab.OnlineLookups">
      <p class="mt-0">
        Configure online lookup services for words and phrases selected from subtitles.
        <br>
        Use the placeholder <b>%%SS</b> to represent the selected text in the URL.
      </p>
      <app-subtitles-lookup-settings/>
    </p-tabpanel>
    <p-tabpanel [value]="GlobalSettingsTab.OfflineDictionaries">
      <app-offline-dictionaries-settings/>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
