:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;
}

.srt-text {
  margin-bottom: 0.25rem;
  white-space: pre-wrap;
  padding: 0.5rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  user-select: text;
  transition: filter 0.2s ease-in-out;
  pointer-events: all;
  cursor: text;
}

.ass-part {
  user-select: text;
  pointer-events: all;
  cursor: text;
  white-space: pre-wrap;
}

.blurred {
  filter: blur(0.75rem);
  background-color: rgba(0, 0, 0, 0.3);
}
