:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;

  & ::ng-deep .ASS-box {
    pointer-events: all;
  }
}

.subtitle-render-container {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: all;
  cursor: default;
  font-family: var(--app-font-subtitles), sans-serif;

  &.subtitles-hidden {
    & > .srt-container,
    & ::ng-deep .ASS-box {
      visibility: hidden !important;
      opacity: 0 !important;
    }
  }
}

.srt-container {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: all;
  padding: 0;
  color: white;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.6);
  border-radius: var(--app-border-radius);
  text-align: center;
  font-size: 1.5rem;
  cursor: default;
  white-space: pre-wrap;
  width: max-content;
}

:host ::ng-deep {
  * {
    // Disable default text highlighting, it will be handled programatically:
    user-select: none;
    -webkit-user-select: none;
  }

  .subtitle-render-container:not(.word-hover) .ASS-dialogue span {
    cursor: default;
  }

  .subtitle-render-container.word-hover * {
    cursor: pointer;
  }

  .subtitle-render-container.subtitles-initializing .ASS-box {
    opacity: 0 !important;
  }
}

.yomitan-popup-wrapper {
  position: fixed;
  z-index: 10000; // Ensure it floats above ASS canvas and everything else
  transform: translateX(-50%); // Center horizontally relative to 'left' coordinate
  display: flex;
  flex-direction: column;
}
