:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;

  & ::ng-deep .ASS-box {
    user-select: text;
    -webkit-user-select: text;
    pointer-events: all;
  }
}

.subtitle-render-container {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: all;
  cursor: default;

  &.subtitles-blurred {
    filter: blur(1rem);
  }

  &.subtitles-hidden {
    & > .srt-container,
    & ::ng-deep .ASS-box {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.srt-container {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: all;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--app-border-radius);
  text-align: center;
  font-size: 1.5rem;
  cursor: text;
  white-space: pre-wrap;
  width: max-content;
}

:host ::ng-deep {
  .subtitle-render-container:not(.word-hover) .ASS-dialogue span {
    cursor: text;
  }

  .subtitle-render-container.word-hover * {
    cursor: pointer;
  }
}
