<div class="list-container h-full flex flex-column">
  <div class="header">
    <h1>List of projects</h1>
    <p-button label="Create New Project"
              severity="primary"
              icon="fa-solid fa-plus"
              [routerLink]="['/project/new']"/>
  </div>

  <div class="flex-grow-1 overflow-hidden">
    <p-splitter [style]="{ height: '100%' }" [panelSizes]="[20, 80]" [minSizes]="[20, 50]">

      <ng-template pTemplate>
        <app-catalogs-tree class="w-full h-full"></app-catalogs-tree>
      </ng-template>

      <ng-template pTemplate>
        <div class="h-full w-full overflow-y-auto p-3">
          <app-catalogs-breadcrumb [activeCatalogId]="activeCatalogId()"
                                   [catalogs]="appStateService.catalogs()"
                                   (selectCatalog)="onBreadcrumbSelect($event)"
                                   class="block mb-3"/>

          <p-dataView [value]="filteredProjects()">
            <ng-template #list let-projects>
              <div class="project-list-items">
                @for (project of projects; track project.id) {
                  <div [class.mb-3]="!$last">
                    <app-project-list-item [project]="project"
                                           (selectProject)="navigateToProject(project)"
                                           (editProject)="editProject(project)"
                                           (removeProject)="deleteProject(project)"
                                           (moveProject)="openMoveProjectDialog(project)"/>
                  </div>
                }
              </div>
            </ng-template>

            <ng-template #emptymessage>
              <div class="empty-message h-full flex flex-column justify-content-center align-items-center opacity-60">
                <i class="fa-solid fa-folder-open text-6xl mb-3"></i>
                <div class="text-xl">This catalog is empty</div>
                @if (!activeCatalogId()) {
                  <div class="mt-2">Select a catalog on the left</div>
                }
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </ng-template>
    </p-splitter>
  </div>
</div>
