<div class="list-container">
  <div class="header">
    <h1>Projects</h1>
    <p-button label="Create New Project"
              severity="primary"
              icon="fa-solid fa-plus"
              [routerLink]="['/project/new']"/>
  </div>

  <p-dataView [value]="appStateService.projects()">
    <ng-template #list let-projects>
      <div class="project-list-items">
        @for (project of projects; track project.id) {
          <app-project-list-item [project]="project"
                                 (selectProject)="navigateToProject(project)"
                                 (editProject)="editProject(project)"
                                 (removeProject)="deleteProject(project)"/>
        }
      </div>
    </ng-template>

    <ng-template #emptymessage>
      <div class="empty-message">
        <h2 class="text-5xl">No projects found</h2>
        <div class="flex justify-content-center align-items-center mb-5 mt-5">
          <app-logo size="25vmin" color="#ceced1"/>
        </div>
        <h3 class="text-3xl">
          Get started by <a class="new-project-link" [routerLink]="['/project/new']">creating a new one!</a>
        </h3>
      </div>
    </ng-template>
  </p-dataView>
</div>
