<section class="section-anki">
  <div class="container">
    <div class="anki-header">
      <h1>{{{anki.h1}}}</h1>
      <br>
      <p>{{{anki.intro}}}</p>
      <ol>
        <li>
          {{{anki.step1}}}
        </li>
        <li>
          {{{anki.step2}}}
        </li>
        <li>
          {{{anki.step3}}}
        </li>
        <li>
          {{{anki.step4_intro}}}<br>
          {{{anki.step4_list_1}}}<br>
          {{{anki.step4_list_2}}}<br>
          {{{anki.step4_list_3}}}<br>
          {{{anki.step4_list_4}}}<br><br>
          <img src="{{{rootPath}}}images/anki/anki-1.png" alt="{{anki.step4_img_alt}}">
          <br>
        </li>
        <li>
          {{{anki.step5_intro}}}<br>
          {{{anki.step5_list_1}}}<br>
          {{{anki.step5_list_2}}}<br>
          {{{anki.step5_list_3}}}<br>
          {{{anki.step5_list_4}}}<br><br>
          <img src="{{{rootPath}}}images/anki/anki-2.png" alt="{{anki.step5_img_alt}}">
          <i class="highlight">
            {{{anki.step5_note_1}}}
          </i>
          <br><br>
          {{{anki.step5_note_2}}}
        </li>
        <li>
          {{{anki.step6_intro}}}<br>
          {{{anki.step6_list_1}}}<br>
          {{{anki.step6_list_2}}}<br>
          {{{anki.step6_list_3}}}<br>
          {{{anki.step6_list_4}}}<br>
          {{{anki.step6_list_5}}}<br><br>
          <img src="{{{rootPath}}}images/anki/anki-3.png" alt="{{anki.step6_img_alt_1}}">
          <br>
          {{{anki.step6_mid_text}}}
          <br><br>
          <div style="background-color: darkgray; color: black;">
            <code>&#123;&#123;FrontSide&#125;&#125;</code><br>
            <code>&lt;hr id=answer&gt;</code><br>
            <code>&#123;&#123;subtitle_text&#125;&#125;</code><br>
          </div>
          <br><br>
          <img src="{{{rootPath}}}images/anki/anki-4.png" alt="{{anki.step6_img_alt_2}}">
          <br>
          {{{anki.step6_end_1}}}<br>
          {{{anki.step6_end_2}}}<br>
          {{{anki.step6_end_3}}}
        </li>
        <li>
          <b class="highlight">{{{anki.step7}}}</b>
        </li>
        <li>
          {{{anki.step8}}}
          <br><br>
          <img src="{{{rootPath}}}images/anki/anki-5.png" alt="{{anki.step8_img_alt}}">
          <br>
        </li>
        <li>
          {{{anki.step9}}}
          <br><br>
          <img src="{{{rootPath}}}images/anki/anki-6.png" alt="{{anki.step9_img_alt}}">
        </li>
      </ol>
    </div>
  </div>
</section>
