<section class="section-guide">
  <div class="container">
    <div class="guide-content">
      <h1>{{{dicts.h1}}}</h1>
      <br>
      <p>{{{dicts.intro}}}</p>
      <ol>
        <li>
          {{{dicts.step1}}}
          <br><br>
          <img src="{{{rootPath}}}images/dicts/dict-1.png" alt="{{dicts.step1_img_alt}}">
          <br>
        </li>
        <li>
          {{{dicts.step2}}}
        </li>
        <li>
          {{{dicts.step3}}}
          <br><br>
          <img src="{{{rootPath}}}images/dicts/dict-2.png" alt="{{dicts.step3_img_alt}}">
          <br>
        </li>
        <li>
          {{{dicts.step4}}}
          <br><br>
          <img src="{{{rootPath}}}images/dicts/dict-3.png" alt="{{dicts.step4_img_alt}}">
          <br>
        </li>
        <li>
          {{{dicts.step5}}}
        </li>
        <li>
          {{{dicts.step6}}}
          <br><br>
          <img src="{{{rootPath}}}images/dicts/dict-4.png" alt="{{dicts.step6_img_alt}}">
          <br>
        </li>
        <li>
          {{{dicts.step7}}}
          <br><br>
          <img src="{{{rootPath}}}images/dicts/dict-5.png" alt="{{dicts.step7_img_alt}}">
          <p class="screenshot-caption">
            {{{hero.screenshot_caption}}}
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
