<div class="settings-container p-4">
  <p-fieldset legend="Playback Control" [toggleable]="false" class="mb-4">
    <div class="setting-item">
      <label for="auto-pause-start" class="font-semibold">Pause at Start of Subtitle</label>
      <p-inputSwitch inputId="auto-pause-start" [(ngModel)]="settingsService.autoPauseAtStart"/>
    </div>
    <div class="setting-item">
      <label for="auto-pause-end" class="font-semibold">Pause at End of Subtitle</label>
      <p-inputSwitch inputId="auto-pause-end" [(ngModel)]="settingsService.autoPauseAtEnd"/>
    </div>
  </p-fieldset>

  <p-fieldset legend="Playback Speed" [toggleable]="false" class="mb-4">
    <div class="slider-setting-item">
      <label for="sub-speed" class="font-semibold">
        Subtitled Clip Speed ({{ settingsService.subtitledClipSpeed() }}x)
      </label>
      <p-slider id="sub-speed" [(ngModel)]="settingsService.subtitledClipSpeed" [min]="0.5" [max]="5" [step]="0.1"/>
    </div>
    <div class="slider-setting-item">
      <label for="gap-speed" class="font-semibold">
        Gap Speed ({{ settingsService.gapSpeed() }}x)
      </label>
      <p-slider id="gap-speed" [(ngModel)]="settingsService.gapSpeed" [min]="0.5" [max]="5" [step]="0.1"/>
    </div>
  </p-fieldset>

  <p-fieldset legend="Subtitle Display" [toggleable]="false">
    <div class="setting-item">
      <label for="seek-seconds">Seek Amount (seconds)</label>
      <p-inputNumber [(ngModel)]="settingsService.seekSeconds"
                     [showButtons]="true"
                     [min]="1"
                     [max]="30"
                     [step]="1"
                     inputId="seek-seconds"
                     suffix="s"/>
    </div>

    <div class="setting-item-column">
      <label for="subtitle-behavior" class="font-semibold mb-2">
        Behavior at Start of Subtitle
      </label>
      <p-selectButton id="subtitle-behavior" [options]="subtitleBehaviorOptions"
                      [(ngModel)]="settingsService.subtitleBehavior"
                      optionLabel="label" optionValue="value"/>
    </div>
  </p-fieldset>

  <p-fieldset legend="Timeline Editing" [toggleable]="true">
    <div class="slider-setting-item">
      <label for="adjustValue">
        Boundary Adjust Amount ({{ settingsService.adjustValueMs() }}ms)
      </label>
      <p-slider id="adjustValue"
                [(ngModel)]="settingsService.adjustValueMs"
                [min]="0"
                [max]="100"
                [step]="10"/>
    </div>
  </p-fieldset>

</div>
