:host {
  display: block;
}

.settings-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--surface-d);

  &:last-child {
    border-bottom: none;
  }
}

.setting-item-column, .speed-setting-item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--surface-d);

  &:last-child {
    border-bottom: none;
  }
}

p-fieldset {
  ::ng-deep .p-fieldset-content {
    padding: 0 1.25rem 1.25rem 1.25rem;
  }
}
