<form [formGroup]="form" class="flex flex-column gap-2 mb-4">
  <textarea pInputTextarea
            formControlName="note"
            [autoResize]="false"
            rows="5"></textarea>
  <app-form-control-error [control]="noteControl"></app-form-control-error>
</form>

<div class="flex align-items-center justify-content-end gap-2">
  <p-button label="Cancel" severity="secondary" icon="fa-solid fa-xmark" (click)="onCancel()"/>
  <p-button label="Save" severity="primary" icon="fa-solid fa-check" (click)="onSave()" data-primary-action/>
</div>
