.search-result-item {
  &:hover {
    background-color: var(--p-surface-50);
  }

  &.is-current {
    background-color: var(--p-surface-100);
  }
}

.load-more-btn {
  cursor: pointer !important;
  transition: background-color 0.2s, color 0.2s !important;

  &:hover {
    background-color: var(--p-surface-100) !important;
    color: var(--p-primary-color) !important;
  }
}

:host-context(.app-dark) {
  .load-more-btn:hover {
    background-color: var(--p-surface-800) !important;
  }

  .search-result-item {
    &:hover {
      background-color: var(--p-surface-800);
    }

    &.is-current {
      background-color: var(--p-surface-700);
    }
  }
}
